table, tr, td {
    border: 1px solid rgb(56, 100, 151);
    border-width: 5px;
    font-size: 20px;
    border-collapse: collapse;
    align-items: center;
    padding: 25px;
    text-align: center;
}
.table{
    margin: auto;
    width: 50%; 
}

